@page "{cityName}"
@model TP2.Pages.CityDetailsModel
@{
    ViewData["Title"] = "Detalhes da Cidade";
}

<h2>@ViewData["Title"]</h2>

<p>Você está vendo detalhes de: <strong>@Model.CityName</strong></p>