@page
@model TP2.Pages.CreateCityModel
@{
	ViewData["Title"] = "Create City";
}
<form method="post">
	<div class="form-group">
		<label asp-for="CreateCity.CityName" class="control-label">Nome da cidade</label>
		<input asp-for="CreateCity.CityName" class="form-control" />
		<span asp-validation-for="CreateCity.CityName" class="text-danger"></span>
	</div>
	<br />
	<div class="form-group">
		<input type="submit" value="Create" class="btn btn-primary" />
	</div>
</form>
<div class="alert alert-success mt-3">
	Cidade cadastrada: <strong>@Model.CreateCity.CityName</strong>
</div>
