@page
@model TP2.Pages.CreateCityModel
@{
	ViewData["Title"] = "Create City";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
	<div class="form-group">
		<label asp-for="Input.CityName" class="control-label">Nome da cidade</label>
		<input asp-for="Input.CityName" class="form-control" />
		<span asp-validation-for="Input.CityName" class="text-danger"></span>
	</div>
	<br />
	<div class="form-group">
		<input type="submit" value="Create" class="btn btn-primary" />
	</div>
</form>

@if (!string.IsNullOrEmpty(Model.CityName))
{
	<div class="alert alert-success mt-3">
		Cidade adicionada com sucesso: <strong>@Model.CityName</strong>
	</div>
}

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
